.carousel-inner img {
  height: 20% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.carousel-indicators .active {
  background-color: whitesmoke;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 70px 50px 70px;
}
.lol {
  background-color: #20052c;
}
.carousel-caption {
  max-width: 100%;
}
.class {
  align-self: center;
  width: 80%;
}
.fas {
  font-size: 10%;
}
.navbar-nav {
  font-size: 1.7em;
}
.navbar-nav li {
  padding: 5px;
}

.fa-pen {
  font-size: 200%;
  padding: 10px;
}
.fa-trophy {
  color: #ac1010;
  font-size: 200%;
  padding: 10px;
}
.fa-flask {
  color: #381d42;
  font-size: 200%;
  padding: 10px;
}
.font1 {
  font-family: Courgette;
  font-weight: 200;
  font-size: 120%;
}
.font {
  font-weight: 400;
  font-family: "Caveat";
  font-size: 200%;
  color: #000000;
}
.nav-link {
  color: #e59ff5;
  font-family: "Playball";
}
.nav-link.active {
  color: #000000;
}
.card-text {
  max-width: 100%;
}
.data {
  width: 100%;
  color: #20052c;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.data.active {
  width: 100%;
  background-image: url(./pics/stairs.jpg);
  font-family: monospace;
  color: white; 
}
.drop{
  font-size: 100%;
  color: #0f0d0d;
}
.hola {
  width: 100%;
  color: #110217;
  font-weight: 500;
  font-size: 80px;
  font-family: "Tangerine";
  font-style: italic;
  font-weight: lighter;
}
.fas.fa-caret-down:{
  font-size: 100%;
}
.head {
  font-family: Architects Daughter;
  font-size: 300%;
  color: #1a0322;
}
hr {
  border: 1px solid whitesmoke;
}
.hrt {
  border-bottom: 2px solid black;
  width: 65%;
  padding-bottom: 25px;
}
.profile {
  font-family: "Dancing Script";
  font-size: 190%;
  padding: 40px;
}

.hrb {
  padding-bottom: 25px;
  border-top: 2px solid black;
  width: 65%;
}
.style {
  font-weight: lighter;
  font-family: "Ribeye Marrow";
  color: #070f07;
  font-size: 30px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.card-img-top {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.fiesta {
  border: 2px solid ghostwhite;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fiesta.active {
  border: 0.5px solid rgb(200, 200, 200);
}
.linkedin {
  color: #51adf0;
}
.instagram {
  color: #ba10b7;
}
.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 70px 50px 70px;
}

.container1 div {
  padding: 10px;
}
.icon {
  color: black;
}
.mail {
  color: rgb(169, 29, 29);
}
.bootstrap {
  color: #741085;
}
.css {
  color: orangered;
}
.Google {
  color: #477cd6;
}
.FA {
  color: #165dd8;
}
.contact {
  font-size: 390%;
}
.contact.active {
  font-size: 450%;
}
.credit {
  font-size: 280%;
}
#footer {
  max-width: 70%;
  border: 1.5px solid #20052c;
}
.card {
  background-color: #e7e7e7;
}
