.carousel-inner img {
  height: 20% !important;
  width: 100;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  max-width: 100%;
}
.class {
  height: 100%;
  width: 100%;
}
.lead {
  font-size: 40px;
}
.fas {
  font-size: 10%;
}
.navbar-nav {
  font-size: 2em;
}
.navbar-nav li {
  padding: 10px;
}

.fa-pen {
  color: #126c2f;
}
.fa-trophy {
  color: #09204c;
}
.fa-flask {
  color: #760c27;
}
.font {
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link {
  color: #e59ff5;
}
.nav-link.active {
  color: #000000;
}
.data {
  width: 100%;
  background-color: white;
  color: #20052c;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: ;
}
.data.active {
  width: 100%;
  color: #e9d3f3;
  background-image: url(./galaxy.jpg);
  font-family: monospace;
  padding-top: 40px;
  padding-bottom: 30px;
}
.hola {
  color: #20052c;
  font-family: "Tangerine";
  font-size: 70px;
}
.hola.active {
  background-image: url(./stairs.jpg);
  width: 100%;
  color: #e4e7ec;
  font-weight: 500;
  font-size: 70px;
  font-family: "Tangerine";
  font-style: italic;
}
hr {
  border-top: 2px solid grey;
  width: 50%;
}
hr.active {
  padding-bottom: 25px;
  border-top: 2px solid grey;
  width: 50%;
}
.style {
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #070f07;
  font-size: 20px;
}
.avatar {
  /* vertical-align: middle; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.alpha {
  position: relative;
  animation: mymove 5s;
  animation-iteration-count: 1;
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 15px;
  }
}
.beta {
  position: relative;
  animation: mymove1 5s;
  animation-iteration-count: 1;
}
@keyframes mymove1 {
  from {
    left: 20px;
  }
  to {
    left: 35px;
  }
}
.gamma {
  position: relative;
  animation: mymove2 5s;
  animation-iteration-count: 1;
}
@keyframes mymove2 {
  from {
    left: 40px;
  }
  to {
    left: 55px;
  }
}
.card-img-top {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.fiesta {
  border: 2px solid ghostwhite;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fiesta.active {
  border: 0.5px solid rgb(200, 200, 200);
}
.icon {
  color: black;
  font-size: 250%;
}
