.carousel-inner img {
  height: 20% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.carousel-indicators .active {
  background-color: whitesmoke;
}

.lol {
  background-color: #20052c;
}
.carousel-caption {
  max-width: 100%;
}
.class {
  height: 100%;
  width: 100%;
}
.lead {
  font-size: 40px;
}
.fas {
  font-size: 10%;
}
.navbar-nav {
  font-size: 2.1em;
}
.navbar-nav li {
  padding: 10px;
}

.fa-pen {
  color: #126c2f;
}
.fa-trophy {
  color: #09204c;
}
.fa-flask {
  color: #760c27;
}
.font {
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 112%;
}
.nav-link {
  color: #e59ff5;
  font-family: "Courgette";
}
.nav-link.active {
  color: #000000;
}
.card-text {
  max-width: 100%;
}
.data {
  width: 100%;
  background-color: white;
  color: #20052c;
  padding-top: 30px;
  padding-bottom: 30px;
}
.data.active {
  width: 100%;
  color: #e9d3f3;
  background-image: url(./galaxy.jpg);
  font-family: monospace;
  padding-top: 50px;
  padding-bottom: 50px;
}
.hola {
  color: #20052c;
  font-family: "Tangerine";
  font-size: 70px;
}
.hola.active {
  background-image: url(./stairs.jpg);
  width: 100%;
  color: #e4e7ec;
  font-weight: 500;
  font-size: 70px;
  font-family: "Tangerine";
  font-style: italic;
}
#footer {
  padding: 50px;
  background-image: url(./hello.jpg);
}

hr {
  border: 1px solid whitesmoke;
}
.hrt {
  border-top: 2px solid black;
  width: 50%;
  padding-bottom: 25px;
}
.hrb {
  padding-bottom: 25px;
  border-top: 2px solid grey;
  width: 50%;
}
.style {
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #070f07;
  font-size: 20px;
}
.avatar {
  /* vertical-align: middle; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* .alpha {
  position: relative;
  animation: mymove 5s;
  animation-iteration-count: 1;
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 15px;
  }
}
.beta {
  display: flex;
  align-content: center;
  position: relative;
  animation: mymove1 5s;
  animation-iteration-count: 1;
}
@keyframes mymove1 {
  from {
    left: 20px;
  }
  to {
    left: 35px;
  }
}
.gamma {
  position: relative;
  animation: mymove2 5s;
  animation-iteration-count: 1;
}
@keyframes mymove2 {
  from {
    left: 40px;
  }
  to {
    left: 55px;
  }
} */
.card-img-top {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.fiesta {
  border: 2px solid ghostwhite;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fiesta.active {
  border: 0.5px solid rgb(200, 200, 200);
}
.fab.fa-linkedin-in {
  color: #212fcc;
  font-size: 250%;
}
.icon {
  color: black;
  font-size: 250%;
}
.bootstrap {
  color: #b82ed0;
  font-size: 225%;
}
.JS {
  color: yellow;
  font-size: 225%;
}
.JS.active {
  background-color: #daf5ef;
  color: yellow;
  font-size: 250%;
}
.css {
  color: orangered;
  font-size: 225%;
}
.Google {
  color: #1ebde9;
  font-size: 225%;
}
.FA {
  color: #165dd8;
  font-size: 225%;
}
